[submodule "typescript/amp/test/fixtures/contracts/lib/forge-std"]
	path = typescript/amp/test/fixtures/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "typescript/amp/test/fixtures/contracts/lib/solady"]
	path = typescript/amp/test/fixtures/contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "tests/datasets/amp_demo/contracts/lib/forge-std"]
	path = tests/datasets/amp_demo/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
