**/.ipynb_checkpoints
**/.python-version
**/__pycache__
**/*.DS_STORE
.history
.envrc
.direnv
.env
/local
/target
uv.lock
cache/
out/
broadcast/
node_modules/
dist/
build/
*.tsbuildinfo
.idea
.vscode/
.amp/
